@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: orange;
  --background-start-rgb: orange;
  --background-end-rgb: orange;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: orange;
    --background-start-rgb: orange;
    --background-end-rgb: orange;
  }
}



body {
  background: orange;
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
