
.banner {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
    position: relative;
    
}


.bannerBar{
    border: 5;
    border-radius: 2px;
    width: 80%;               
    background-color: black;   
    height: 4px;

}

.menuLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 15px;
    font-weight: bold;
    
}

.logo{
    width: 13%;
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.cookingVid{
    height: auto;
    
}

.menuSection{
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index:1;
    justify-content: center;
    align-items: center;
}

.menuItems{
    margin-top: 20px;
    width: 85%;
    display: flex;

}


.scroll{
    position: absolute;
    margin-top: -25px;
}

.navBar{
   
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    background:#fff;
}


