/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/LandingPage.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/

.LandingPage_banner__YbK81 {
    display: flex;
    flex-direction: column;
    background: white;
    color: black;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.LandingPage_bannerBar__feGpa{
    border: 5;
    border-radius: 2px;
    width: 80%;               
    background-color: black;   
    height: 4px;

}

.LandingPage_menuLinks__RPDkr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 15px;
    font-weight: bold;
    
}

.LandingPage_logo__6ueLX{
    width: 13%;
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.LandingPage_cookingVid__JJuVV{
    height: auto;
}

.LandingPage_menuSection__RQxIQ{
    display: flex;
    flex-direction: column;
}


/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/styles/MenuItem.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.MenuItem_menuRow__5cGP9{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    
}
.MenuItem_menuDesc__Z0jyj{
    width: 50%;
    margin-top: 75px;
}

.MenuItem_descBar__Z6vxm{

    border: 5;
    border-radius: 2px;
    width: 100%;               
    background-color: white; 
    height: 4px;

}

.MenuItem_descStyle__Z1a2_{

}

.MenuItem_descPrice__cyogh{
    
}

.MenuItem_menuImage__eAiso{
    margin: auto;
    display: block;
}
